<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.tomale.id.gis.editor.map">
         <toolbar
               id="org.tomale.id.gis.editor.map.toolbar">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.tomale.id.gis.editor.view.layers">
         <toolbar
               id="org.tomale.id.gis.editor.view.layers.toolbar">
            <command
                  commandId="org.tomale.id.gis.editor.command.layer.add"
                  helpContextId="org.tomale.id.gis.editor.command.layer.add.help"
                  style="push">
            </command>
            <command
                  commandId="org.tomale.id.gis.editor.command.layer.remove"
                  helpContextId="org.tomale.id.gis.editor.command.layer.remove.help"
                  style="push">
            </command>
            <command
                  commandId="org.tomale.id.gis.editor.command.layer.togglevisible"
                  helpContextId="org.tomale.id.gis.editor.command.layer.togglevisible.help"
                  style="push">
            </command>
            <command
                  commandId="org.tomale.id.gis.editor.command.togglereadonly"
                  helpContextId="org.tomale.id.gis.editor.command.togglereadonly.help"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu.window.editors">
         <command
               commandId="org.tomale.id.gis.editor.command.openmapeditor"
               helpContextId="org.tomale.id.gis.editor.command.openmapeditor.help"
               label="Map Editor"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu.window.views">
         <command
               commandId="org.tomale.id.gis.editor.command.showmaplayersview"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.tomale.id.gis.editor.ui.MapEditor"
            default="false"
            id="org.tomale.id.gis.editor.map"
            name="Map Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.tomale.id.gis.editor.category.view"
            name="GIS">
      </category>
      <view
            allowMultiple="false"
            category="org.tomale.id.gis.editor.category.view"
            class="org.tomale.id.gis.editor.ui.LayersView"
            id="org.tomale.id.gis.editor.view.layers"
            name="Layers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.tomale.id.gis.editor.category.commands"
            name="GIS">
      </category>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            helpContextId="org.tomale.id.gis.editor.command.layer.add.help"
            id="org.tomale.id.gis.editor.command.layer.add"
            name="Add Layer">
      </command>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            helpContextId="org.tomale.id.gis.editor.command.layer.remove.help"
            id="org.tomale.id.gis.editor.command.layer.remove"
            name="Remove Layer">
      </command>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            helpContextId="org.tomale.id.gis.editor.command.layer.togglevisible.help"
            id="org.tomale.id.gis.editor.command.layer.togglevisible"
            name="Toggle visibility">
      </command>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            helpContextId="org.tomale.id.gis.editor.command.togglereadonly.help"
            id="org.tomale.id.gis.editor.command.togglereadonly"
            name="Toggle readonly">
      </command>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            helpContextId="org.tomale.id.gis.editor.command.openmapeditor.help"
            id="org.tomale.id.gis.editor.command.openmapeditor"
            name="Open Map Editor">
      </command>
      <command
            category="org.tomale.id.gis.editor.category.commands"
            id="org.tomale.id.gis.editor.command.showmaplayersview"
            name="Map Layers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.AddLayerHandler"
            commandId="org.tomale.id.gis.editor.command.layer.add"
            helpContextId="org.tomale.id.gis.editor.command.layer.add.help">
      </handler>
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.RemoveLayerHandler"
            commandId="org.tomale.id.gis.editor.command.layer.remove"
            helpContextId="org.tomale.id.gis.editor.command.layer.remove.help">
      </handler>
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.ToggleVisibleLayerHandler"
            commandId="org.tomale.id.gis.editor.command.layer.togglevisible"
            helpContextId="org.tomale.id.gis.editor.command.layer.togglevisible.help">
      </handler>
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.ToggleReadonlyLayerHandler"
            commandId="org.tomale.id.gis.editor.command.togglereadonly"
            helpContextId="org.tomale.id.gis.editor.command.togglereadonly.help">
      </handler>
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.OpenMapEditorHandler"
            commandId="org.tomale.id.gis.editor.command.openmapeditor"
            helpContextId="org.tomale.id.gis.editor.command.openmapeditor.help">
      </handler>
      <handler
            class="org.tomale.id.gis.editor.ui.handlers.ShowMapLayersViewHandler"
            commandId="org.tomale.id.gis.editor.command.showmaplayersview">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.tomale.id.gis.editor.category.wizard.new"
            name="GIS">
      </category>
      <wizard
            category="org.tomale.id.gis.editor.category.wizard.new"
            class="org.tomale.id.gis.editor.wizard.NewMapEditorWizard"
            id="org.tomale.id.gis.editor.wizard.new.editor"
            name="Map Editor">
      </wizard>
   </extension>

</plugin>
