<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.tomale.id.providers.connection" name="Connection Provider" schema="schema/org.tomale.id.providers.connection.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.tomale.id.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.tomale.id.Perspective"
            id="org.tomale.id.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.tomale.id.application"
            name="Integrated Desktop">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <menu
                  id="org.eclipse.ui.main.menu.file.open"
                  label="Open"
                  mnemonic="O">
            </menu>
            <separator
                  name="org.tomale.id.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  style="push">
            </command>
            <separator
                  name="org.tomale.id.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window"
               mnemonic="W">
            <menu
                  id="org.eclipse.ui.main.menu.window.editors"
                  label="Editors"
                  mnemonic="E">
            </menu>
            <menu
                  id="org.eclipse.ui.main.menu.window.views"
                  label="Views">
               <command
                     commandId="org.tomale.id.command.show.connections"
                     icon="icons/view16/database_obj.gif"
                     label="Connections"
                     style="push">
               </command>
            </menu>
            <separator
                  name="org.tomale.id.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.tomale.id.ui.toolbar.main">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.tomale.id.view.connections">
         <command
               commandId="org.tomale.id.command.connection.add"
               icon="icons/etool16/datastore_wiz.gif"
               label="Add connection"
               style="push"
               tooltip="Add connection">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.tomale.id.ui.preferences.GeneralPreferencesPage"
            id="org.tomale.id.preferences.pages.general"
            name="General">
      </page>
      <page
            category="org.tomale.id.preferences.pages.general"
            class="org.tomale.id.ui.preferences.ConnectionPreferencesPage"
            id="org.tomale.id.preferences.pages.connections"
            name="Connections">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.tomale.id.category.commands"
            name="ID">
      </category>
      <command
            category="org.tomale.id.category.commands"
            defaultHandler="org.tomale.id.handlers.ShowConnectionsViewHandler"
            helpContextId="org.tomale.id.command.show.connections.help"
            id="org.tomale.id.command.show.connections"
            name="Connections">
      </command>
      <command
            category="org.tomale.id.category.commands"
            defaultHandler="org.tomale.id.handlers.AddConnectionHandler"
            helpContextId="org.tomale.id.command.connection.add.help"
            id="org.tomale.id.command.connection.add"
            name="Add connection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.tomale.id.category.view"
            name="General">
      </category>
      <view
            category="org.tomale.id.category.view"
            class="org.tomale.id.ui.ConnectionsView"
            icon="icons/view16/database_obj.gif"
            id="org.tomale.id.view.connections"
            name="Connections"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.tomale.id.category.data"
            name="Data">
      </category>
      <wizard
            category="org.tomale.id.category.data"
            class="org.tomale.id.wizard.ConnectionWizard"
            icon="icons/etool16/datastore_wiz.gif"
            id="org.tomale.id.wizard.provider.connection"
            name="Connection Provider">
      </wizard>
   </extension>
   <extension
         point="org.tomale.id.providers.connection">
      <provider
            class="org.tomale.id.provider.connection.file.FileConnectionProvider"
            name="File connection provider">
      </provider>
   </extension>

</plugin>
