<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.tomale.id.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.tomale.id.Perspective"
            id="org.tomale.id.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.tomale.id.application"
            name="Integrated Desktop">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.newQuickMenu"
                  style="push">
            </command>
            <menu
                  id="org.eclipse.ui.main.menu.file.open"
                  label="Open"
                  mnemonic="O">
            </menu>
            <separator
                  name="org.tomale.id.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  style="push">
            </command>
            <separator
                  name="org.tomale.id.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.tomale.id.ui.toolbar.main">
            <command
                  commandId="org.eclipse.ui.file.newQuickMenu"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.tomale.id.ui.preferences.GeneralPreferencesPage"
            id="org.tomale.id.preferences.pages.general"
            name="General">
      </page>
      <page
            class="org.tomale.id.ui.preferences.ConnectionPreferencesPage"
            id="org.tomale.id.preferences.pages.connections"
            name="Connections">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.tomale.id.category.commands"
            name="ID">
      </category>
   </extension>

</plugin>
